services:
  collectionbuilder:
    platform: linux/amd64
    container_name: collectionbuilder
    # image: ghcr.io/sfu-dhil/collectionbuilder-docker
    build:
      context: .
    ports:
      - 4000:4000
    volumes:
      # code for development
      - ./app:/app
      # don't externally mount the container's _site folder (where static builds are outputted)
      - /app/_site
    healthcheck:
      test: ["CMD-SHELL", "curl --fail http://localhost:4000/ || exit 1"]
      interval: 2s
      retries: 120