<script>
    function site_search() {
        var query = document.getElementById("site-search").value;
        window.open("{{ '/search/index.html' | relative_url }}?q=" + encodeURIComponent(query), "_self" );
    }
</script>
<form class="form-inline my-2 my-lg-0" role="search" id="search" onsubmit="site_search(); return false;">
    <div class="input-group">
        <input id="site-search" class="form-control " type="text" placeholder="Search" aria-label="Search box">
        <button class="btn btn-outline-secondary text-body" type="submit">
            <span id="search-icon">
                {% include feature/icon.html icon="search" %}
            </span>
            <span class="visually-hidden">Search</span>
        </button>
    </div>
</form>